name: CI

on:
  pull_request:
    branches:
      - "main"
      - "dev"

jobs:
  tests:
    name: python
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: main
    - name: install rust
      uses: dtolnay/rust-toolchain@stable
    - name: Cache cargo deps
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache target/release build
      id: release-cache
      uses: actions/cache@v4
      with:
        path: target/release
        key: ${{ runner.os }}-cargo-target-release-${{ hashFiles('**/Cargo.lock') }}
    - name: Build release version
      if: steps.release-cache.outputs.cache-hit != 'true'
      run: cargo build --release
    - name: fmt
      run: cargo fmt --all -- --check
    - name: clippy
      run: cargo clippy
    - name: test
      run: cargo test
